fieldset {
    width: 30%;
    float: left;
}
form {
  width: 100%;
}
input {
  margin-bottom: 15px;
}
label {
  font-weight: bold;
}
input:focus, textarea:focus {
    outline: none !important;
    border:2px solid orange;
}
input[type=submit], input[type=reset] {
    padding:5px 15px;
    background: orange;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    font-size: 16px;
}
input:required:focus {
  background-color: white;
}
input:focus:required:invalid {
  background-color: red;
}
